*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#zoom{
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.815);
}
#zoom img{
    width: 90%;
    height: 90vh;
    z-index: 1555555;
    opacity: 1;
}


section{
    height: 100vh;
}
#main-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
figure{
    padding: 10px;
    margin-top: 20px;
    width: 16%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#zoom span{
    position: absolute;
    cursor: pointer;
    top: 6%;
    right: 6%;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    border: 7px solid black;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 9999999999;
}

.overlay{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.741);
    opacity: 0.5;
}

figcaption{
    display: none;

}
.fig{
    display: flex;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

form h2{
    padding: 20px;
    margin-bottom: 30px;
    font-size: 40px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
}
form div{
    height: 100px;
}
input{
    padding: 15px;
    width: 500px;
}
::placeholder, form p{
    font-size: 20px;
}
form p{
    margin-bottom: 15px;
}
input[type="submit"]{
    font-size: 25px;
    background-color: black;
    color: #fff;
    margin-top: 60px;

}
input[type="submit"]:hover{
    background-color: #fff;
    color: black;
}

.show{
    position: absolute;
    width: 90%;
    height: 90vh;
    opacity: 1;
    z-index: 155555;
}


/*Form*/

/*pseudo*/
.valid-feedback, .valid-mail{
    display: none;
}
.invalid-feedback, .invalid-mail{
    color: red;
    display: block;
} 

